<?xml version="1.0" encoding="utf-8"?>
<!-- ========================================================================== -->
<!-- INFININUM V2.0.0 - NUGET DEPLOYMENT SAFEGUARD CONFIGURATION                 -->
<!-- LICENSED UNDER THE MIT LICENSE - COPYRIGHT (C) 2026 SHOCKS654              -->
<!-- STRICTLY ENGLISH SETTINGS - EXPLICIT SYMBOLIC FEED STORAGE SECURITY         -->
<!-- ========================================================================== -->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://nuget.org" protocolVersion="3" />
  </packageSources>
</configuration>
